<h3>Create Student</h3>
<form>
    <div class="form-group">
      <label >Name</label>
      <input type="text" class="form-control" placeholder="Enter Name"
      [(ngModel)]="student.name"
      name="name"
      >
    </div>
    <div class="form-group">
        <label >Age</label>
        <input type="number" class="form-control" placeholder="Enter Age"
        [(ngModel)]="student.age"
        name="age"
        >
    </div>
    <div class="form-group">
        <label >Gender</label>
        <input type="text" class="form-control" placeholder="Enter Gender"
        [(ngModel)]="student.gender"
        name="gender"
        >
    </div>
    <button (click)="saveStudent()" class="btn btn-primary">Submit</button>
  </form>